<h3>Welcome fellow S#!tty Cooks, please feel free to share your favorite recipes. Or follow along with one of these s#!tty recipes and you too will be saying "S#!t, I can cook!"</h4>
<h1>Recipes index</h1>

<p><strong><%= link_to "New Recipe", new_recipe_path %></strong></p>

<% if @recipes.any? %>
      <div id = "main_layout" class="row">
        <% @recipes.each do |recipe| %>
          <div class="col-md-3 feedpadding" >
            <div class="gallery">
              <a><% if recipe.image.attached? %>
                <%= image_tag recipe.image, size: "250x250" %>
              <% end %>
            </div>  
              <p id="recipelink"><%= link_to recipe.name, recipe_path(recipe) %></p></a>
          </div>
        <% end %>
      </div>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>