<h1>Recipes index</h1>

<% if @recipes.any? %>
    <%# <div class="container"> %>
      <div class="row">
        <% @recipes.each do |recipe| %>
          <div class="col-md-3" id="feedpadding">
          <% if recipe.image.attached? %>
            <%= image_tag recipe.image, size: "250x250" %>
          <% end %>
          <p id="recipelink"><%= link_to recipe.name, recipe_path(recipe) %></p>
          </div>
        <% end %>
      </div>
    <%# </div> %>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>

<p><%= link_to "new recipe", new_recipe_path %></p>