@import "bootstrap-sprockets";
@import "bootstrap";

#signin {
  color: black;
  padding-left: 45px;
  padding-top: 15px;
  font-weight: bold;
}

.box {
  position: absolute;
  left: 50%;
  margin-left: -135px;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.37);
  padding: 25px;
  // padding-left: 100px;
  // padding-right: 100px;
  // position: static;
  border-radius: 8px;
}

.crudbox {
  position: absolute;
  left: 35%;
  margin-top: 50px;
  margin-left: -100px;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 8px;
  padding: 25px;
}

.jumbotron {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

#feedpadding {
  margin: 30px;
}

#recipelink {
  padding-left: 60px;
}

img {
  border: inset;
  border-width: 1px;
  border-color: #c4c4c49f;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

body {
  cursor: pointer;
  // background: rgb(2,0,36);
  // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(9,121,108,1) 52%);
  // background-image: url(../imgages/white_carbonfiber.jpg);
  background-color: rgb(214, 214, 214);
}

#left, #right {
  background-image: linear-gradient(to bottom, #05001d, #06064e, #05095e, #050c6f, #040f81, #2c2492, #3943cf, #a3b2dc, #c4c4c4, lightgray, lightgray);
  opacity: .7;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 40px;
		}
		#left { left: 0; }
    #right { right: 0; }

// .box.flex {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }